#!/usr/bin/env bash

###############################################################################
# General                                                                     #
###############################################################################
alias cd..="cd .."
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias c="clear"

# Copy working directory
alias cwd='pwd | tr -d "\r\n" | pbcopy'

alias e="eza"
alias ea="eza --all --long"
alias et="eza --tree"
alias etgi="eza --tree --git-ignore"

alias h="history"

alias l="ls"
alias la="ls -al"

alias now="date '+%Y-%m-%d %H:%M:%S'"
alias week="date +%V"        # Get week number
alias dayofweek="date +%A"   # Get day of the week
alias day="dayofweek"
alias month="date +%m"
alias monthname="date +%B"
alias dayofmonth="date +%d"  # Get day of the month
alias year="date +%Y"
alias dayofyear="date +%j"   # Get day of the year

alias untar='tar xvf'

# URL encode strings
alias urlencode="python -c 'import sys; from urllib import parse; print(parse.quote(sys.argv[1]));'"
alias urldecode="python -c 'import sys; from urllib import parse; print(parse.unquote(sys.argv[1]));'"

###############################################################################
# Network                                                                     #
###############################################################################
alias publicip="dig -4 TXT +short o-o.myaddr.l.google.com @ns1.google.com | tr -d '\"'"
alias pubip="publicip"
alias whichip="publicip"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Open files
alias files="lsof | grep -E 'REG|DIR'"
# Open ports
alias ports="lsof -i -P -n | grep LISTEN"
# Open sockets
alias socks="lsof -i -n  -Tfqs"
# Open TCP sockets
alias tcpsocks="lsof -a -i4 -i6 -iTCP"

###############################################################################
# FZF                                                                         #
###############################################################################
alias falias="alias | fzf"  # Fuzzy search for alias definitions
alias fea="eza -al | fzf"
alias fla="ls -al | fzf"  # Fuzzy search ls

alias fa="falias"
alias fcom="fcommand"
alias fe="fenv"
alias fh="fhistory"
alias fv="fvar"

###############################################################################
# Git                                                                         #
###############################################################################
alias g="git"
alias ga="git add"
alias gaa="git add --all"
alias gc="git commit"
alias gca="git commit --all"
alias gcam="git commit --all --message"  # Commit all indexed file changes with message
alias gcaa="git commit --all --amend --reuse-message=HEAD"  # Add all indexed changes to head commit
alias gacam="git add --all && git commit --all --message"  # Commit ALL changes, including untracked files, with message
alias gacaa="git add --all && git commit --all --amend --reuse-message=HEAD"  # Add ALL changes, including untracked files, to head commit
alias gd="git diff"
alias gds="git diff --name-only"  # Short git diff (file names only)
alias gl="git log --graph --all --pretty=format:'%C(yellow)%h -%C(auto)%d %C(bold cyan)%s %C(bold white)(%cr)%Creset %C(dim white)<%an>'"  # Compressed graph log format
alias gp="git push"
alias gpf="git push --force-with-lease"
alias gs="git status"
alias gss="git status --short"  # Short git status
alias gst="git stash"
alias gstl="git stash list"
alias gsts="git stash save"
alias gstsa="git stash save --all"
alias gstsm="git stash save --message"
alias gstsam="git stash save --all --message"

# Delete all remote tracking Git branches where the upstream branch has been deleted
alias git_prune="git fetch --prune && git branch -vv | grep 'origin/.*: gone]' | awk '{print \$1}' | xargs git branch -d"

###############################################################################
# Node                                                                        #
###############################################################################
#alias nodev="node --version"
#alias ya="yarn add"
#alias yc="yarn compile"  # yarn tsc
#alias yi="yarn install"
#alias yr="yarn remove"
#alias ys="yarn start"
#alias yt="yarn test"
#alias yv="yarn --version"
#alias yclean="yarn tsc --build --clean"  # Delete all the transpiled files

###############################################################################
# Python                                                                      #
###############################################################################
alias py="python"
alias pyv="python --version"

###############################################################################
# AI                                                                          #
###############################################################################
alias chat="openai"
