#!/usr/bin/env bash

###############################################################################
# General                                                                     #
###############################################################################
alias cd..="cd .."

alias l="ls"
alias la="ls -al"

alias ip="dig -4 TXT +short o-o.myaddr.l.google.com @ns1.google.com"

# Python
alias py='python'
alias pyv='python --version'

###############################################################################
# Git                                                                         #
###############################################################################
alias g="git"
alias ga="git add"
alias gaa="git add --all"
alias gc="git commit"
alias gcam="git commit -am"  # Commit all indexed file changes with message
alias gcaa="git commit -a --amend --reuse-message=HEAD"  # Add all indexed file changes to head commit
alias gacam="git add --all && git commit -am"  # Commit ALL changes with message
alias gacaa="git add --all && git commit -a --amend --reuse-message=HEAD"  # Add ALL changes to head commit
alias gd="git diff"
alias gds="git diff --name-only"  # Short git diff (file names only)
alias gl="git log --graph --all --pretty=format:'%C(yellow)%h -%C(auto)%d %C(bold cyan)%s %C(bold white)(%cr)%Creset %C(dim white)<%an>'"  # Compressed graph log format
alias gp="git push"
alias gpf="git push --force-with-lease"
alias gs="git status"
alias gss="git status -s"  # Short git status
alias gst="git stash"
alias gsta="git stash apply"
alias gstl="git stash list"
alias gstp="git stash pop"
alias gsts="git stash save"

# Delete all remote tracking Git branches where the upstream branch has been deleted
alias git_prune="git fetch --prune && git branch -vv | grep 'origin/.*: gone]' | awk '{print \$1}' | xargs git branch -d"
