# homebrew
BREW_PREFIX=$(brew --prefix)
export PATH="$BREW_PREFIX/bin:$PATH"
export PATH="$BREW_PREFIX/sbin:$PATH"
[ -f $BREW_PREFIX/etc/bash_completion ] && . $BREW_PREFIX/etc/bash_completion

# virtualenv
export WORKON_HOME=~/.virtualenvs
export VIRTUALENVWRAPPER_PYTHON=$BREW_PREFIX/bin/python3
export VIRTUALENVWRAPPER_VIRTUALENV=$BREW_PREFIX/bin/virtualenv
source $BREW_PREFIX/bin/virtualenvwrapper.sh
