#!/usr/bin/env bash

# Locale
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export LANGUAGE=en_US.UTF-8

# homebrew
BREW_PREFIX=$(brew --prefix)
export PATH="$BREW_PREFIX/bin:$PATH"
export PATH="$BREW_PREFIX/sbin:$PATH"

# python
export PYTHONSTARTUP=~/.pythonrc.py

# virtualenv
export WORKON_HOME=~/.virtualenvs
export VIRTUALENVWRAPPER_PYTHON=$BREW_PREFIX/bin/python3
export VIRTUALENVWRAPPER_VIRTUALENV=$BREW_PREFIX/bin/virtualenv
source $BREW_PREFIX/bin/virtualenvwrapper.sh

# pipenv
# https://stackoverflow.com/questions/51201018/pipenv-not-recognizing-pyenv-version
export PIPENV_PYTHON="$(pyenv root)/shims/python"

# colorize
export ZSH_COLORIZE_STYLE='native'
